.header_bar {
    background-color: #800080;
    color: white;
    text-align: center;
    padding: 25px;
}

.navigation {
    background-color: black;
}

.navbar-expand-sm {
    padding: 1px;
}

.header {
    text-align: center;
}

.facility {
    height: 200px;
    width: 200px;
    background-color: #800080;
    text-align: center;
    color: white;
    margin: 5px;
}

.facility img{
    height: 75%;
    width: 100%;
}

a {
    color: white;
}

